* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans", sans-serif;
  font-family: "Playball", cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(134, 134, 230);
  overflow: hidden;
}

.container {
  background-color: #fff;
  max-width: 800px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  padding: 50px 20px;
  box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.1);
}

.container .joke {
  font-size: 30px;
  max-width: 600px;
  margin: 50px auto;
  letter-spacing: 1px;
  line-height: 40px;
}

.container h3 {
  color: #555;
  font-weight: 600;
  font-size: 27px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

i{
display: inline-block;
    width: 28px;
}

.container .btn {
  padding: 12px 30px;
  font-size: 18px;
  font-weight: 500;
  background-color: #f8b627;
  color: #fff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1), 0px 6px 6px rgba(0, 0, 0, 0.1);
  border: 0;
  outline: none;
  border-radius: 7px;
  cursor: pointer;
  letter-spacing: 2px;
}

.btn:hover {
  background-color: #ffffffc2;
  color: #bd953e;
  box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.2);
}

@media (max-width: 800px) {
  .container {
    margin: 50px 10px;
  }
}
